body {
    margin: 0;
} 

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 450px;
    margin: 0 20px 15px 20px;
    border-radius: 5px;
    max-height: 120px;
}

#add-to-cart {
    border-radius: 100%;
    width: fit-content;
    flex-direction: row;
}
