body {
    margin: 0;
} 

header {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-inner-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  width: 100%;
}

.add-to-cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.order-submit-modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    height: 420px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
}

.cart-display li {
    list-style: none;
}